viewport {
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}

body {
   color: white;
   background-color: black;
   min-height: 740px;
}

.step {
   position: relative;
   font-family: "Verdana", "Tahoma", "Trebuchet";
   font-size: 24px;
   width: 1200px;
   padding: 40px;
   margin: 20px auto;
   -webkit-box-sizing: border-box;
   -moz-box-sizing:    border-box;
   -ms-box-sizing:     border-box;
   -o-box-sizing:      border-box;
   box-sizing:         border-box;
}

.slide {
    display: block;

    width: 1200px;
    height: 700px;
    padding: 20px 40px;
}

.impress-enabled .step {
    margin: 0;
    opacity: 0.3;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

.yellow { color: rgb(255,246,  0); }
.green  { color: rgb( 46,255,  0); }
.pink   { color: rgb(231,  0,122); }
.orange { color: rgb(253, 78,  0); }
.blue   { color: rgb( 58, 85,255); }
.white  { color: rgb(255,255,255); }
.red    { color: #eb0d0c; }
.scary  {
   font-size: 125%;
   color: #eb0d0c;
   font-weight: bold;
}

.title {
   font-size: 48px;
   color: rgb(253, 78,  0);
   display: block;
   text-align: center;
   margin-top: 60px;
}
.subtitle {
   font-size: 32px;
   color: white;
   margin-top: 60px;
}
.tldr {
   color: white;
}
.text {
   white-space: pre-line;
   line-height: 110%;
}
code {
   color: white;
   display: block;
   font-family: "Source Code Pro", "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
   font-size: 28px;
   margin: 40px;
   padding: 10px;
   white-space: pre;
   background-color: darkslategray;
}
.contents {
   color: rgb(255,255,255);
}
h2 {
   color: rgb(231,  0,122);
}
.small {
   font-size: 12px;
}
a {
   color: rgb( 86, 86, 149);
}
a:visited {
   color: rgb(129,128,178);
}
